@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

:root {
  --dark-color: #635bff;
  --light-color: #80e9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  background: #252934;
} */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "DM Mono", monospace;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: linear-gradient(160deg, #252934 5%, #00b8cc 40%, #016874 50%, #252934 80%);
  overflow-x: hidden;
  
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

svg {
  cursor: pointer;
}

#darkGroup {
  fill: var(--dark-color);
}

#lightGroup {
  fill: var(--light-color);
}

.animation {
  /* margin-top: 5em;
  margin-left: 5em; */
  width: 6em;
  height: 15em;
  /* background-color: transparent; */
  /* border: none; */
  /* color: #ccc; */
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0.3em;
  /* z-index: 10; */
  /* visibility: hidden; */
  /* opacity: 0.7; */
}

#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
  transform: rotate(-90deg);
}
#dark2 {
  transform: translateX(-100%);
  
}
svg:hover #light1 {
  transform: rotate(-90deg) translateX(20%);
}
svg:hover #dark1 {
  transform: rotate(-90deg) translateX(40%);
  opacity: 0;
}
svg:hover #dark2 {
  transform: rotate(-90deg) translateX(0%);
}

.navigationBar {
  position: sticky;
  top: 0;
  left: 0;
  height: 5em;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 1rem;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.navigationBar h1 {
  position: absolute;
  left: 0;
  margin: 3px 0px 0px 10px;
  letter-spacing: 2px;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite; */
}

.navigationBar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigationBar li a {
  /* display: block;
  position: relative;
  padding: 0.2em 0; */
  display: flex;
  text-align: center;
  position: relative;
  padding: 3px 30px 5px 14px;
  text-decoration: none;
  /* font-family: "DM Mono", monospace; */
  font-size: 1.3em;
  /* font-style: normal; */
  /* transition: background-color 0.5s ease; */
  color: rgba(255, 255, 255, 0.795);
}

.navigationBar li a:hover {
  color: white;
}

.navigationBar li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.navigationBar li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.navigationBar li a:hover::after,
.navigationBar li a:focus::after{
  transform: scale(1);
}

/* .navigationBar li a:hover::after,
.navigationBar li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

li:nth-child(2) a {
	overflow: hidden;
}

.navigationBar li:nth-child(2) a::after {
	opacity: 1;
	transform: translate3d(-100%, 0, 0);
}

.navigationBar li:nth-child(2) a:hover::after,
.navigationBar li:nth-child(2) a:focus::after{
	transform: translate3d(0, 0, 0);
}

li:nth-child(3) a {
	overflow: hidden;
}

.navigationBar li:nth-child(3) a::after {
	opacity: 1;
	transform: translate3d(100%, 0.12em, 0);
}

.navigationBar li:nth-child(3) a:hover::after,
.navigationBar li:nth-child(3) a:focus::after{
	transform: translate3d(0, 0, 0);
}

.navigationBar li:nth-child(4) a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.navigationBar li:nth-child(4) a:hover::after,
.navigationBar li:nth-child(4) a:focus::after{
  transform: scale(1);
} */

.navigationBar h1:hover{
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.landingPage {
  height: 35vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.blob-content {
  width: 26.5vw;
}

.blob-content h1{
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 125%;
}

.blob-content p{
  line-height: 125%;
}

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  padding: 3rem;
  overflow-x: scroll;
}

.cardList::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* .cardList::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
} */

/* .cardList::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
} */

.card {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 30em;
  width: 90em;
  padding: 2rem;
  margin-bottom: 3em;
  border-radius: 16px;
  background: #17141d;
  transition: 0.3s;
  text-align: justify;
}

.experienceCard {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 50em;
  width: 90em;
  padding: 2rem;
  margin-bottom: 3em;
  border-radius: 16px;
  background: #17141d;
  transition: 0.3s;
  text-align: justify;
}

.projectsContent {
  display: flex;
  width: 85em;
}

.experienceContent {
  display: flex;
  flex-wrap: wrap;
  width: 85em;
}

.smallCard {
  cursor: pointer;
  margin-left: 1em;
  margin-bottom: 1em;
  /* display: flex; */
  /* position: relative; */
  flex-direction: row;
  /* align-items: center; */
  height: 20em;
  width: 25em;
  /* padding: 2rem; */
  /* margin-bottom: 2em; */
  border-radius: 10px;
  background: #154651;
  transition: 0.3s;
  /* text-align: justify; */
}

.smallCard > h3 {
  margin-top: 0.5em;
  text-align: center;
}

.smallCard > p {
  margin-top: 0.8em;
  margin-left: 2em;
  /* text-align: justify; */
  width: 15em;
}

.smallCard:hover {
  transform: translateY(-10px);
  box-shadow: -0.5rem 0 3rem #154651;
}

.smallCard:hover ~ .smallCard {
  transform: translateY(10px);
}

.aboutContent {
  /* display: flex; */
  position: absolute;
  text-align: justify;
  width: 40em;
  /* left: 2em; */
}

.aboutContent > h2 {
  text-align: center;
}

.aboutSkills {
  position: absolute;
  right: 10em;
}

.aboutSkills > p {
  text-align: center;
}

.contact {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.contactLinks a {
  /* color: red; */
  text-decoration: none;
  color: rgba(255, 255, 255, 0.795);
}

.contactLinks a:hover {
  color: white;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: -1rem 0 3rem #000;
}

.card:hover ~ .card {
  transform: translateY(5px);
}

/* .card:not(:first-child) {
  margin-left: -100px;
} */

.cardAuthor {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

/* .authorAvatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  overflow: hidden;
  margin: 16px 10px;
}

.halfCircle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: limegreen;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.authorNamePrefix {
  font-style: normal;
  font-weight: 700;
  color: grey;
} */

.cardHeader h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.tags {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 20em;
  top: 2em;
}

.tags p {
  margin-left: 2em;
  font-style: normal;
  font-weight: 700;
  font-size: 0.5em;
  background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 125%;
  text-transform: uppercase;
  font-size: 0.66em;
  /* border: 3px solid #28242f;
  border-radius: 2rem; */
  /* padding: 0.2rem 0.85rem 0.25rem; */
  position: relative;
}

.smallCard a {
  display: flex;
  position: relative;
  top: 3em;
  left: 1.3em;
  /* color: red; */
  text-decoration: none;
  color: rgba(255, 255, 255, 0.795);
}

.smallCard a:hover {
  color: white;
}

/* .tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
} */